:global(.widget-body) {
  margin: 0;
  padding: calc(var(--ring-unit) * 2);

  background: var(--ring-content-background-color);

  font-size: var(--ring-font-size);
}

.widget {
  width: 100%;

  margin: 0;
  padding: 0;

  white-space: nowrap;

  font-family: var(--ring-font-family);
  font-size: var(--ring-font-size);
}

.commitIcon {
  position: absolute;
  left: -8px;

  color: var(--ring-secondary-color);
  fill: var(--ring-secondary-color);
}

.commitCell {
  max-width: 65%;

  text-overflow: ellipsis;
}

.commitTitle {
  overflow: hidden;

  padding-bottom: 4px;

  padding-left: 10px;

  text-overflow: ellipsis;

  color: var(--ring-heading-color);

  font-weight: 600;
}

.commitHeader {
  display: flex;
  flex-direction: row;

  color: rgb(88, 96, 105);
}

.commitsListing {
  position: relative;

  padding-left: 4px;
}

.commitsListing::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 14px;

  display: block;

  width: 2px;

  margin-left: -16px;

  content: "";

  background-color: var(--ring-border-disabled-color);
}

.commitPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  min-width: 460px;
  height: 50px;
  margin-left: 8px;

  color: var(--ring-heading-color);
  border: 1px solid var(--ring-border-disabled-color);

  font-size: 14px;
}

.commitPanel:hover {
  background: var(--ring-selected-background-color);
}

.commitBlock {
  padding-bottom: 10px;
}

.avatar {
  min-width: 20px;
  height: 20px;
  margin-right: 3px;

  line-height: 12px;
}

.commitMeta {
  display: flex;
  flex-direction: row;

  padding-left: 10px;

  color: var(--ring-secondary-color);

  font-size: 12px;
  font-weight: 400;
}

.commitLinksCell {
  position: relative;

  display: table-cell;

  max-width: 170px;
  height: 62px;
  padding: 8px 10px;

  text-align: right;

  color: rgb(106, 115, 125);

  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 12px;
  line-height: 18px;
}

.revisionLink {
  position: relative;

  display: block;
  float: left;

  box-sizing: border-box;
  width: 50px;
  height: 30px;

  margin-top: 2px;

  padding-top: 4px;

  cursor: pointer;
  text-align: center;

  vertical-align: middle;
  white-space: nowrap;

  color: rgb(3, 102, 214);
  border: 1px solid var(--ring-border-disabled-color);

  border-radius: 0 3px 3px 0;

  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 10px;
  font-weight: 600;
  line-height: 20px;

  text-decoration-line: none;
}

.copyToClipboardBtn {
  position: relative;

  display: block;
  float: left;

  box-sizing: border-box;
  width: 30px;
  height: 30px;

  margin-top: 2px;
  padding: 1px 12px 6px;

  cursor: pointer;
  text-align: right;

  vertical-align: middle;
  white-space: nowrap;

  color: rgb(3, 102, 214) !important;
  border: 1px solid var(--ring-border-disabled-color);
  border-right-width: 0;

  border-radius: 3px 0 0 3px;
  background: transparent;

  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 20px;

  fill: rgb(3, 102, 214);
}

.copyToClipboardBtn:hover {
  color: #fff !important;
  border-color: rgb(3, 102, 214);
  background-color: rgb(3, 102, 214);
  fill: #fff;
}

.copyToClipboardBtn:focus {
  outline: none;
}

.revisionLink:hover {
  color: #fff;
  border-color: rgb(3, 102, 214);
  background-color: rgb(3, 102, 214);
}

.viewCodeBtn:hover {
  color: #fff;
  border-color: rgb(3, 102, 214);
  background-color: rgb(3, 102, 214);
  fill: #fff;
}

.copyToClipboardIcon {
  display: inline-block;
  overflow-x: auto;
  overflow-y: auto;

  box-sizing: border-box;

  cursor: pointer;

  vertical-align: text-top;
}

.commitLinksGroup {
  display: inline-block;

  box-sizing: border-box;
  width: 80px;
  height: 34px;

  margin-right: 5px;

  text-align: right;
  vertical-align: middle;

  color: rgb(106, 115, 125);

  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 12px;
  line-height: 18px;
  overflow-wrap: break-word;
  text-size-adjust: 100%;
}

.viewCodeBtn {
  position: relative;

  display: inline-block;

  box-sizing: border-box;
  width: 30px;
  height: 30px;

  margin-top: 0;
  padding-top: 6px;

  padding-right: 7px;

  cursor: pointer;

  vertical-align: middle;

  color: rgb(3, 102, 214);
  border: 1px solid var(--ring-border-disabled-color);

  border-radius: 3px;
  background: transparent;

  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;

  fill: rgb(3, 102, 214);
}

.viewCodeIcon {
  position: center;

  vertical-align: text-top;
}

.loadMoreLink {
  text-align: center;
}

.formFooter {
  position: fixed;

  right: 0;
  bottom: 0;
  left: 0;
}

.commitAuthor {
  overflow: hidden;

  text-overflow: ellipsis;
}

.viewButtonGroup {
  padding-bottom: 8px;
}

.issueRow {
  display: flex;
  flex-direction: row;

  padding: 8px;
}

.issueRow:hover {
  background-color: var(--ring-hover-background-color);
}

.issueIcon {
  margin-left: 8px;
}

.issueInfo {
  display: flex;
  flex-direction: column;

  padding-left: 8px;
}

.issueTitle {
  overflow: hidden;

  max-width: 100%;

  text-decoration: none;
  text-overflow: ellipsis;

  color: var(--ring-heading-color);

  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  overflow-wrap: break-word;
}

.issueTitle:hover {
  color: var(--ring-main-hover-color);
}

.stateDescription {
  color: var(--ring-secondary-color);
}

.issueAuthorLink {
  text-decoration: none;

  color: var(--ring-secondary-color);
}

.issueAuthorLink:hover {
  color: var(--ring-main-hover-color);
}

.closedRequestIcon {
  fill: rgb(203, 36, 49);
}

.mergedRequestIcon {
  fill: rgb(111, 66, 193);
}

.openRequestIcon {
  fill: rgb(40, 167, 69);
}

.closedIssueIcon {
  fill: rgb(203, 36, 49);
}

.openIssueIcon {
  fill: rgb(40, 167, 69);
}

.buttonGroupCaption {
  color: var(--ring-text-color);
}

.issueFilter {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}
